.heading {
    display: flex;
    flex-wrap: row nowrap;
    text-align: left;
    font-size: 22px;
    font-weight: 400;
    color: #41586D;
    background-color: #E7E8E3;
    height: 113px;

}
@font-face {
    font-family: myFirstFont;
    src: url(PT_Sans_Caption\PTSansCaption-Regular.ttf);
  }
  
@font-face {
    font-family: myFirstFont;
    src: url(PT_Sans_Caption\PTSansCaption-Regular.ttf);
    font-weight: bold;
  }
  
    body {
    font-family: myFirstFont;
    color: #41586D;
    margin: 0;
    }
 
    .mainLogo {
        position: absolute; 
        right: 0;;
    }

    .headingText p{
        height: 28px;
        margin: 43px 0 43px 37px;
    }

    button {
        background-color: #DCE7ED;
        border: 1px solid  #DCE7ED;
        border-radius: 15px;
        color: #41586D;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0px 3px rgba(0,0,0,0.20);
    }

    button:hover{
        border: 2px solid #41586D;
    }

    /**Menu for every page **/
    .hiddenMenu  {
        width: 0;
        position: fixed;
        z-index: 1;
        height: 741px;
        top: 110px;
        left: 59px;
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    .hiddenMenu a {
        background-color: #DCE7ED;
        padding: 11px 0 13px 0;
        text-decoration: none;
        font-size: 16px;
        color: #41586D;
        text-align: center;
        display: block;
        transition: 0.3s;
        margin: 0 0 6px 0;
    }
    
    .hiddenMenu a:hover {
        background-color: #41586D;
        color: #f1f1f1;
    }
    
    .hiddenMenu .closebutton {
        background-color: rgba(220, 231, 237, 0);
        text-align: right;
        padding-right: 10px;
        margin: 0 0 11px 0;
        font-size: 20px;
    }
    
    /*This code added by Jagruti*/
    #timeContainer{
        width: 960px;
        margin:auto;
        padding-left: 50px;
    }
    #timeContent{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 30px;
    }
    .timeMarque1{
        width:60%; 
        direction:up; 
        height:120px;
    }
    #timeLeftMarque{
        padding-left: 20px;
        justify-content: space-between;    
        margin-top: 30px;
    }
    #timeHeader{
        /*width: 960px;*/
        height: 60px;
        display: flex;
        align-content: center;
    
    }
    #timeImage{
        position: relative;
    }
    .timeMgtImage{
        height: 250px;
        width: 450px;
        border-radius: 20px;
        background-size: cover;   
        margin-top: 30px;
    }
    #timeHeaderLeft{
        display: inline;
        flex-grow: 4;
        text-align: center;
        width: 100%;
        align-content: center;
    }
    /*Login button CSS*/
    .openLoginButton {
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        top: 110px;
        right: 59px;
        background: rgba(0,0,0,0);
        box-shadow: none;        
    }

    .openLoginButton a{
        color: #41586D;
        text-decoration: none;
    }

    .openLoginButton:hover{
        background-color: #41586D;
        color: #f1f1f1;
        border: 0;
    }

    .openLoginButton a:hover {
        color: #f1f1f1;
    }
    
    /*End here*/

